<h1>Listing guests (<%= @guests.count %>)</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Gift</th>
    <th>Iscoming</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guests.each do |guest| %>
  <tr>
    <td><%= guest.id %></td>
    <td><%= guest.name %></td>
    <td><%= guest.email %></td>
    <td><%= guest.gift.name+"=>"+guest.gift.price.to_s+" ["+guest.gift.id.to_s+"]" if guest.gift %></td>
    <td><%= guest.iscoming %></td>
    <td><%= link_to 'Show', guest %></td>
    <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
    <td><%= link_to 'Destroy', guest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guest', new_guest_path %>
