<h1>hello, lixhot!</h1>
<%= javascript_tag("$(function(){ memo.init(\"#{findguest_url}\"); });") %>
<%= form_tag 'checkin', :method => 'get' do %>
	<div id="one">
		<%= email_field_tag :search, params[:search] %>
		<%= hidden_field_tag 'guest_id', '-1' %>
	</div>
	<div id="two">
		<%= radio_button_tag(:iscoming, 1) %>ich komme<br />
		<%= radio_button_tag(:iscoming, 0) %>ich komme nicht
	</div>
	<div id="three">
		<% cities_array = Gift.all.map { |gift| ['%s für %s€' % [gift.name, gift.price], gift.id] } %>
		<%= select_tag(:gift_id, options_for_select(cities_array)) %><br />
		<%= submit_tag(value = "let's party") %>
	</div>
<% end %>

