<!DOCTYPE html>
<html>
<head>
  <title>//lixhot</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>


<div id="pagewidth" >
	<div id="header">
		<a href="http://lixhot.de"><%= image_tag "lixhot5_logo.png", :alt => "logo" %></a>
	</div>
	<div id="wrapper" class="clearfix">
		<div id="maincol">


<%= yield %>


		</div>
		<div id="footer">
			<div id="fb-root"></div>
			<script src="http://connect.facebook.net/en_US/all.js#appId=221316861226138&amp;xfbml=1"></script>
			<fb:like href="lixhot.de" send="false" width="450" show_faces="true" colorscheme="dark" font="" />
		</div>
		<div id="footer2">
			<span id="cr">&copy; lixhot family, 2012</span>
		</div>
	</div>

</div>
</body>
</html>
